<ion-header>
  <ion-navbar>
    <ion-title style="float: right;opacity: 1;">
      <ion-icon name="share-alt"></ion-icon>
      <ion-icon name="more"></ion-icon>
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding *ngFor="let a of imgs">
  <ion-card class="res-head" >
    <img src="assets/images/about/0.png">
    <div class="res-head-cont">
      <img src="{{a.cover}}" alt="">
      <h2>{{a.title}}</h2>
      <p>动作 / 军事 / 科幻</p>
      <p> 2017-01-01(中国)</p>
    </div>
    <div class="res-head-btn">
      <h1>{{a.rating}}</h1>
      <p><span></span>佳片推荐</p>
    </div>
  </ion-card>
  <div class="res-yuan">
    <span><ion-icon name="play"></ion-icon></span>
    <span>有汁源</span>
    <span>3个播放源 <ion-icon name="arrow-forward"></ion-icon></span>
  </div>
  <div class="maodian">
   <ion-grid>
     <ion-row>
       <ion-col col-4>
       <a href="#pinglun">评论</a>
      </ion-col>
       <ion-col col-4>
         <a href="#xinxi">信息</a>
       </ion-col>
       <ion-col col-4>
         <a href="#retui">热荐</a>
       </ion-col>
     </ion-row>
   </ion-grid>
  </div>
  <div name="pinglun" id="pinglun">
    <h3>评论</h3>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/about/movie-detail/0.jpeg">
            </ion-avatar>
            <h2>Marty McFly</h2>
            <p>01-01</p>
            <h3>大甜甜最美</h3>
          </ion-item>
        </ion-col>
        <ion-col col-2 offset-2>
          <ion-icon name="thumbs-up">12</ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/about/movie-detail/1.jpeg">
            </ion-avatar>
            <h2>Marty McFly</h2>
            <p>01-01</p>
            <h3>林更新好帅啊</h3>
          </ion-item>
        </ion-col>
        <ion-col col-2 offset-2>
          <ion-icon name="thumbs-up">12</ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/about/movie-detail/2.jpeg">
            </ion-avatar>
            <h2>Marty McFly</h2>
            <p>01-01</p>
            <h3>哈哈哈</h3>
          </ion-item>
        </ion-col>
        <ion-col col-2 offset-2>
          <ion-icon name="thumbs-up">12</ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    <ion-grid>
      <ion-row>
        <ion-col col-8>
          <ion-item>
            <ion-avatar item-start>
              <img src="assets/images/about/movie-detail/3.jpeg">
            </ion-avatar>
            <h2>Marty McFly</h2>
            <p>01-01</p>
            <h3>么么哒</h3>
          </ion-item>
        </ion-col>
        <ion-col col-2 offset-2>
          <ion-icon name="thumbs-up">12</ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
  <br>
  <div name="xinxi" id="xinxi">
    <h3>影片信息</h3>
    <p>
     {{a.desc}}
    </p>
  </div>
  <br>
  <div name="retui" id="retui">
    <h4>你可能喜欢的影片</h4>
    <ion-grid>
      <ion-row>
        <ion-col *ngFor="let a of imgs">
          <img src="{{a.cover}}" alt="">
          <p>{{a.title}}</p>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>

</ion-content>

