page-contact {
  *{
    margin: 0;
    padding: 0;
  }
  .segment-ios .segment-button.segment-activated{
    color: #2d2d2d;
    background-color: #fff;
  }
  .setting{
    font-size: 26px;
    float: right;
    line-height: 35px;
  }
  .btn{
    width:100%;
    margin-top: 15px;
    background-color: #F2CC03;
  }
  ul{
    list-style: none;
    margin: 15px;
  }
  .denglu ul li{
    float: left;
    width:80px;
    height: 45px;
    text-align: center;
  }
  .denglu ul li a{
    text-decoration: none;
  }
  .denglu ul li a p{
    color: #000;
  }
  .denglu .message{
    font-size: 30px;
    color: orange;
  }
  .yingpian{
    width:414px;
  }
  .yingpian .sigle{
    font-size: 16px;
  }
  .segment-md .segment-button{
    color: #2d2d2d;
  }
  .segment-ios .segment-button{
    border-style: none;
    color: gray;
  }
  p.collect{
    width:414px;
    height:30px;
    padding-left: 15px;
    font-size: 16px;
    font-weight: bold;
    border-bottom: 1px solid #ddd;
  }
  .soucang{
    width:140px;
    height:220px;
    border: 1px solid #ddd;
    margin: 15px;
    position: relative;
  }
  .soucang .add{
    font-size: 50px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
  }
  .soucang  p.piandan{
    text-align: center;
    font-size: 16px;
    width:140px;
    height:30px;
    margin-top: 130px;
  }
  .empty{
    width: 200px;
    height: 180px;
    margin: 0px auto;
  }
  .empty p{
    padding-top: 120px;
  }


  .content{
    position: relative;
  }
  .divblock{
    height:344px;
    width: 344px;
    background-color:#ddd;
    z-index: 999;
    position: absolute;
    top:120px;
    left: 50%;
    transform: translate(-50%);
  }
  .divblock p{
    text-align: center;
    font-size: 16px;
    padding-top: 15px;
  }
  .divblock ul{
    list-style: none;
    width:300px;
    height: 100px;
    margin: 0  auto;
    margin-top: 50px;
    -webkit-padding-start: 0;
  }
  .divblock ul li{
    width:90px;
    float: left;
    text-align: center;
  }
  .divblock ul li img{
    vertical-align: middle;
  }
  .divblock ul li p{
    padding: 0;
  }
  .divblock button{
    color: black;
    border-color: black;
    background-color: #ddd;
    border: 1px solid black;
    width: 200px;
  }
  .divblock p{
    padding: 0;
  }
  .divblock p a{
    text-decoration: none;
    color: black;
  }
  .divblock .close{
    position: absolute;
    top: 15px;
    right: 15px;
  }

}

