
<ion-header>

  <ion-navbar>
    <ion-title>设置</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="content">

    <div class="set_login" (click)="show = !show" *ngIf="!users.user">立即登录</div>


  <ion-list *ngIf="users.user">

    <ion-card-header class="selfsetting">
      <img src="../assets/icon/用户.png" alt="" class="img1">
     <span>账号信息设置</span>
      <img src="../assets/icon/右.png" alt="" class="img2">
    </ion-card-header>
  </ion-list>

  <ul>
    <li>
      <img src="../assets/icon/点赞.png" alt="" class="img1">
      <span>推荐给好友</span>
      <img src="../assets/icon/右.png" alt="" class="img2">
    </li>
    <li (click)="fankui()">
      <img src="../assets/icon/意见反馈.png" alt="" class="img1">
      <span>意见反馈</span>
      <img src="../assets/icon/右.png" alt="" class="img2">
    </li>
    <li>
      <img src="../assets/icon/评分.png" alt="" class="img1">
      <span>给我们评分</span>
      <img src="../assets/icon/右.png" alt="" class="img2">
    </li>
    <li>
      <img src="../assets/icon/刷新.png" alt="" class="img1">
      <span>版本检测</span>
      <img src="../assets/icon/右.png" alt="" class="img2">
    </li>
    <li>
      <img src="../assets/icon/关于.png" alt="" class="img1">
      <span>关于侃侃电影</span>
      <img src="../assets/icon/右.png" alt="" class="img2">
    </li>
  </ul>

  <div class="divblock" *ngIf="!show">
    <p>登录毒舌电影APP</p>
    <ul class="row">
      <li col-4>
        <img src="../assets/icon/微信.png" alt="">
        <p>微信</p>
      </li>
      <li col-4>
        <img src="../assets/icon/QQ.png" alt="">
        <p>QQ</p>
      </li>
      <li col-4>
        <img src="../assets/icon/微博.png" alt="">
        <p>微博</p>
      </li>
    </ul>

    <div class="row">
      <div col-6 offset-2>
        <button ion-button color="secondary" (click)="go()">立即登录</button>
      </div>
    </div>


    <p>
      <a (click)="goSign()" >手机号注册</a>
    </p>
    <div class="close" (click)="show = !show">X</div>
  </div>

  <button ion-button color="secondary" full class="fullbtn" (click)="exit()">退出登录</button>



</ion-content>


