page-signup {

  .getlist{
    position: relative;
  }
  .getlist .get{
    position: absolute;
    right:0;
    top: 54px;
  }
  .gree{
    font-size: 12px;
    display: block;
    padding-left: 15%;
    padding-top: 30px;
  }
  .gree a{
    text-decoration: none;
  }
}

